html,
body {
  margin: 0;
  padding: 0;
  font-family: cursive;

}
.wrapper {
  max-width: 420px;
  min-height: 96vh;
  margin: 0 auto;
}

button {
  font-family: cursive;

  font-size: 2rem;
  border: 1px solid rgb(245, 245, 245);
  cursor: pointer;
}
.modifiers button {
  background-color: #ccc;
  border-radius: 100px;
}
.operations button {
  background-color: orange;
  border-radius: 100%;

  width: 100px;
}
.digits button {
    margin: 5px;
  background-color: #efefef;
  border-radius: 100%;

}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}

h1{
    color: rgb(255, 196, 0);
    font-size: 40px;
}